<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${self.title()}</title>
    <link rel="stylesheet" href="/static/dashboard/css/bootstrap.css">
    <script src="/static/dashboard/js/jquery-1.11.1.min.js"></script>
    <script src="/static/dashboard/js/bootstrap.min.js"></script>
    ${self.css()}

</head>
<body>
<%include file = "nav.html" />
<%! from django.urls import reverse %>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="${reverse('admin')}" class="list-group-item active">
                    管理员
                </a>
                <a href="#" class="list-group-item">用户</a>
                <a href="#" class="list-group-item">视频</a>

            </div>
        </div>

        <div class="col-md-10">
            <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">${self.body_title()}<span class="glyphicon glyphicon-leaf pull-right"></span></h3>
            </div>
            <div class="panel-body">
                ${self.content()}
            </div>
        </div>

        </div>
    </div>
</div>

</body>
</html>
${self.js()}
<%def name = "title()"></%def>
<%def name = "body_title()"></%def>
<%def name = "css()"></%def>
<%def name = "js()"></%def>
<%def name = "content()"></%def>
